@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Comforter&family=Zen+Kaku+Gothic+Antique&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.side {
  background: url(./images/richard-brutyo-Sg3XwuEpybU-unsplash.jpg);
  background-position: center 32%;
  background-size: cover;
  color: white;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.side > span {
  font-size: 11px;
  font-family: 'Noto Sans KR', sans-serif;
  align-self: flex-start;
  padding: 2px;
  position: absolute;
  bottom: 0;
}

.logo {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 40px;
  width: 34px;
}

.logo > p {
  font-family: 'Comforter', cursive;
  padding-top: 10px;
  font-size: 3rem;
}

.content {
  background: #f1d1d1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 1rem 0;
}

.content p {
  font-size: min(1.5rem, 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: justify;
  padding: 0 1rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: rgb(31, 31, 31);
}

.content > p:nth-child(1) {
  margin-bottom: 0;
}

.content > p:nth-child(2) {
  margin-top: 0;
}

.content > p:nth-child(4) {
  margin-top: calc(3% + 15px);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.em {
  font-style: italic;
}

input {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid pink;
  border-radius: 4px;
  height: 26px;
  padding: 4px;
  font-family: 'Source Sans Pro', arial;
}

form {
  --error-height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 3px lightpink;
  height: auto;
}

.flex-left,
.flex-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.flex-right > div:last-child {
  margin-bottom: 1rem;
}

.wrapper label {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 11.5px;
  text-transform: uppercase;
}

button,
form > span {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

button {
  margin-top: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2rem;
  background: #ff3838;
  border: 2px solid #f44336;
  border-radius: 5px;
  width: 50%;
}

form > span {
  margin: 0.8rem 0;
}

a:link {
  color: #f44336;
}

input:focus {
  outline: none;
  border: 2px solid blue;
  padding: 3px;
  background-color: white;
}

.invalid {
  border: 2px solid maroon;
  padding: 3px;
  background: #ffc0c0;
}

.valid {
  background-color: rgba(145, 253, 145, 0.4);
  border: 1px solid green;
}

.error {
  width: 100%;
  display: block;
  font-size: 12px;
  text-align: center;
  color: maroon;
  padding: 2px;
  height: var(--error-height);
  font-family: 'Zen Kaku Gothic Antique', arial;
}

@media screen and (min-width: 712px) {
  html {
    margin: 0;
    overflow: hidden;
  }

  #main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .side {
    height: 100%;
    width: 100%;
    display: block;
  }

  .logo {
    margin-top: max(11rem, 30vh);
    height: 90px;
  }

  .logo > p {
    height: auto;
    font-size: max(3rem, 410%);
    padding-top: 20px;
  }

  .logo > img {
    height: 60px;
    width: 50px;
  }

  .side > span {
    font-size: min(15px, 80%);
    width: 100%;
    left: 1rem;
    padding: 8px;
  }

  .content {
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content > p:nth-child(4) {
    margin-top: 2%;
    font-size: 1.2rem;
  }

  .content > *:not(form) {
    margin-left: 2rem;
  }

  .content p {
    width: 60%;
  }

  .content p,
  .wrapper {
    padding: 0;
    font-size: 1.1rem;
  }

  label {
    display: block;
  }

  input {
    width: 200px;
  }

  .error {
    width: 200px;
  }

  form {
    align-items: flex-start;
    height: auto;
  }

  .wrapper {
    flex-direction: row;
    width: 100%;
    padding-left: 2rem;
    box-shadow: 0 7px 4px lightpink;
  }

  .flex-left,
  .flex-right {
    width: max(30%, 250px);
    padding: 0 0 30px 0;
    row-gap: 0.6rem;
  }

  button {
    margin-top: 1.5rem;
    width: 200px;
  }

  button,
  form > span {
    margin-left: 2rem;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
